
<nav class="navbar navbar-light bg-faded" >
    <div class="container-fluid" >
      <div class="navbar-header">
  <a class="navbar-brand" routerLink="/bookapp">BOOK APP</a>
     </div>

  <ul class="nav navbar-nav">
      <li class="nav-item active">
          <a class="nav-link"  routerLinkActive="active" routerLink="/home">home</a>
        </li>
    <li class="nav-item active">
      <a class="nav-link"  routerLinkActive="active" routerLink="/add">add</a>
    </li>
    <li class="nav-item active">
      <a class="nav-link"  routerLinkActive="active" routerLink="/update">update</a>
    </li>
    <li >
        <app-search></app-search>
    </li>
  </ul>
</div>
</nav>

